body {
    background-color: blue;
    color: white;
    margin: 0px;
    padding: 0px;

}
@font-face {
    font-family: 'SfHambakneun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.retro-font-1 {
    font-family: 'SfHambakneun';
    font-size: 64pt;

}

.box-1 {
    display: flex;
    width: 128px;
    height: 64px;
    background-color: black;
    color: lawngreen
}
